.about {
  background-color: #051424;
  font-size: 1.1em;
  color: #4fc1b8;
  padding-bottom: 6rem;
}

.profile {
  max-width: 18em;
}

.my-details {
  background-color: #303c55;
}
p {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.button-new {
  transition-duration: 0.4s;
  background-color: #303c55;
  border-radius: 5px;
  border: 0;
  margin: 0 auto;
  display: block;
}
a {
  color: #4fc1b8;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #051424;
}
.button-new:hover {
  background-color: #4fc1b8;
}
.social-container {
  background: transparent;
  position: relative;
  padding-top: 25px;
  padding-left: 30%;
}
a.social {
  margin: 0 2rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-4px);
}

a.linkedin {
  color: #4fc1b8;
}

a.github {
  color: #4fc1b8;
}

a.twitter {
  color: #4fc1b8;
}

a.instagram {
  color: #4fc1b8;
}
